<md-card>
  <form [formGroup]="stepForm" novalidate (ngSubmit)="onSubmit()" class="editForm">
    <div class="form-group">
      <label class="center-block">Email:
        <input class="form-control" formControlName="email" placeholder="Your email address">
      </label>
      <div *ngIf="formErrors.email" class="alert alert-danger">
        {{ formErrors.email }}
      </div>
    </div>

    <div style="margin-bottom: 1em">
      <button type="submit" [disabled]="stepForm.pristine || !stepForm.valid" class="btn btn-success">Next</button> &nbsp;
    </div>
  </form>
</md-card>