<md-card>
  <form [formGroup]="stepForm" novalidate (ngSubmit)="onSubmit()" class="editForm">
    <div class="form-group">
      <label class="center-block">projectType:
      <md-select class="form-control" formControlName="projectTypeId" >
        <md-option *ngFor="let projectType of projectTypes | async" [value]="projectType.id">{{projectType.label}}</md-option>
      </md-select>
</label>
    </div>

    <yuc-borrowed-amount [group]="stepForm"></yuc-borrowed-amount>

    <div style="margin-bottom: 1em">
      <button type="submit" [disabled]="stepForm.pristine || !stepForm.valid" class="btn btn-success">Next</button> &nbsp;
    </div>
  </form>
</md-card>