

<div>
  <a routerLink="/landing" routerLinkActive="active">Landing</a>
  <a routerLink="/email" routerLinkActive="active">email</a>
  <a routerLink="/family" routerLinkActive="active">family</a>
  <a routerLink="/address" routerLinkActive="active">address</a>
</div>

<md-card>
  <label>
        progress - {{progress}}%
        <md-progress-bar
            class="app-progress"
            color="accent"
            mode="determinate"
            [value]="progress"
            aria-label="Determinate progress-bar example"></md-progress-bar>
      </label>
</md-card>