<div class="form-group" [formGroup]="currentFormGroup">
  <div formArrayName="components">
    <div *ngFor="let address of arrayComponents.controls; let i=index" [formGroupName]="i" >
    <label class="center-block">borrowedAmount:
      <md-select class="form-control" formControlName="borrowedAmountId">
        <md-option *ngFor="let borrowedAmount of borrowedAmounts | async" [value]="borrowedAmount.id">{{borrowedAmount.label}}</md-option>
      </md-select>     
    </label>
    </div>
  </div>
</div>